
* {
	font-family: "Output Sans Web", "Trebuchet MS", sans-serif;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1em;
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: none;
}

html {
	overflow: hidden;
}

body {
	position: relative;
	color: #000;
	background: #FFF;
	margin: 0 auto;
	padding: 0;
}

#formwrapper {
	text-align: center;
}

form {
	display: inline-block;
	background-color: rgba(255,255,255,0.9);
	padding: 1em 2em;
	text-align: left;
}

a:link, a:visited {
	color: #999;
	text-decoration: none;
}

a:active {
	position: relative;
	top: 1px;
	right: -1px;
}

a:hover, a:active {
	color: #990000;
}

h1, h2, h3, h4 {
	line-height: 1em;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	margin-bottom: .5em;
}

h1 a:link, h1 a:hover, h1 a:visited {
	font-family: "Output Sans Web", Impact, sans-serif;
	font-weight: 800;
	font-size: 4em;
	line-height: .85em;
	margin-bottom: 0.25em;
	color: black;
}

@media (max-width:667px) {
	* {
		font-size: 14px;
	}
	h1 a:link, h1 a:hover, h1 a:visited {
		font-size: 3.5em;
	}
}

@media (max-width:480px) {
	* {
		font-size: 12px;
	}
	h1 a:link, h1 a:hover, h1 a:visited {
		font-size: 3em;
	}
}

h2 {
	font-weight: 800;
	font-size: 3em;
}

h3 {
	font-weight: bold;
	font-size: 1.2em;
/*	margin-left: -1.5em; */
	margin-top: 1em;
	margin-bottom: 0.3em;
}

h3 * {
	font-weight: bold;
	font-size: 1.2em;
}


.solve-for {
	position: relative;
	display: inline-block;
	margin-right: 2.5em;
}

.solve-for.angle {
	margin-right: 0;
}

.solved {
	font-weight: bold;
}

.distance h3 {
	color: #FF0000;
}

.angle h3 {
	color: #39A848;
}

.size h3 {
	color: #00ABFF;
}

input[type="number"] {
	display: inline-block;
	text-align: right;
	width: 5em;
	height: 1.5em;
}

button {
	padding: 0.2em 0.5em;
}

b, strong {
	font-weight: bold;
}
i, em, cite {
	font-style: italic;
}
p, figcaption {
	line-height: 1.5em;
}
p + p {
	margin-top: 1.2em;
}

#observer {
	position: relative;
	padding: 1%;
	width: 98%;
	height: auto;
}

#credits {
	position: fixed;
	right: 6px;
	bottom: 4px;
	text-align: right;
	font-size: 10px;
	z-index: 2;
	/* white-space: nowrap; */
	color: #999;
	padding-left: 30px;
	padding-top: 30px;
	line-height: 1.5;
}

#credits:hover {
	color: black;
	font-size: 12px;
}

#credits a {
	font-size: inherit;
	text-decoration: underline;
	color: inherit;
}

#credits:hover a {
	color: #00ABFF;
}

